Firebird_Tables         RCDATA "MetadataSqls\\Firebird\\1. Tables.sql"
Firebird_Views          RCDATA "MetadataSqls\\Firebird\\2. Views.sql"
Firebird_TableFields    RCDATA "MetadataSqls\\Firebird\\3. TableFields.sql"
Firebird_ViewFields     RCDATA "MetadataSqls\\Firebird\\4. ViewFields.sql"
Firebird_Indexes        RCDATA "MetadataSqls\\Firebird\\5. Indexes.sql"
Firebird_Triggers       RCDATA "MetadataSqls\\Firebird\\6. Triggers.sql"
Firebird_Procedures     RCDATA "MetadataSqls\\Firebird\\7. Procedures.sql"
Firebird_Constraints    RCDATA "MetadataSqls\\Firebird\\8. Constraints.sql"
Firebird_Sequences      RCDATA "MetadataSqls\\Firebird\\9. Sequences.sql"

MsSql_Tables          RCDATA "MetadataSqls\\MsSql\\1. Tables.sql"
MsSql_Views           RCDATA "MetadataSqls\\MsSql\\2. Views.sql"
MsSql_TableFields     RCDATA "MetadataSqls\\MsSql\\3. TableFields.sql"
MsSql_ViewFields      RCDATA "MetadataSqls\\MsSql\\4. ViewFields.sql"
MsSql_Indexes         RCDATA "MetadataSqls\\MsSql\\5. Indexes.sql"
MsSql_Triggers        RCDATA "MetadataSqls\\MsSql\\6. Triggers.sql"
MsSql_Procedures      RCDATA "MetadataSqls\\MsSql\\7. Procedures.sql"
MsSql_Constraints     RCDATA "MetadataSqls\\MsSql\\8. Constraints.sql"
MsSql_Sequences       RCDATA "MetadataSqls\\MsSql\\9. Sequences.sql"

MySql_Tables          RCDATA "MetadataSqls\\MySql\\1. Tables.sql"
MySql_Views           RCDATA "MetadataSqls\\MySql\\2. Views.sql"
MySql_TableFields     RCDATA "MetadataSqls\\MySql\\3. TableFields.sql"
MySql_ViewFields      RCDATA "MetadataSqls\\MySql\\4. ViewFields.sql"
MySql_Indexes         RCDATA "MetadataSqls\\MySql\\5. Indexes.sql"
MySql_Triggers        RCDATA "MetadataSqls\\MySql\\6. Triggers.sql"
MySql_Procedures      RCDATA "MetadataSqls\\MySql\\7. Procedures.sql"
MySql_Constraints     RCDATA "MetadataSqls\\MySql\\8. Constraints.sql"
MySql_Sequences       RCDATA "MetadataSqls\\MySql\\9. Sequences.sql"

Oracle_Tables          RCDATA "MetadataSqls\\Oracle\\1. Tables.sql"
Oracle_Views           RCDATA "MetadataSqls\\Oracle\\2. Views.sql"
Oracle_TableFields     RCDATA "MetadataSqls\\Oracle\\3. TableFields.sql"
Oracle_ViewFields      RCDATA "MetadataSqls\\Oracle\\4. ViewFields.sql"
Oracle_Indexes         RCDATA "MetadataSqls\\Oracle\\5. Indexes.sql"
Oracle_Triggers        RCDATA "MetadataSqls\\Oracle\\6. Triggers.sql"
Oracle_Procedures      RCDATA "MetadataSqls\\Oracle\\7. Procedures.sql"
Oracle_Constraints     RCDATA "MetadataSqls\\Oracle\\8. Constraints.sql"
Oracle_Sequences       RCDATA "MetadataSqls\\Oracle\\9. Sequences.sql"

PostgreSql_Tables          RCDATA "MetadataSqls\\PostgreSql\\1. Tables.sql"
PostgreSql_Views           RCDATA "MetadataSqls\\PostgreSql\\2. Views.sql"
PostgreSql_TableFields     RCDATA "MetadataSqls\\PostgreSql\\3. TableFields.sql"
PostgreSql_ViewFields      RCDATA "MetadataSqls\\PostgreSql\\4. ViewFields.sql"
PostgreSql_Indexes         RCDATA "MetadataSqls\\PostgreSql\\5. Indexes.sql"
PostgreSql_Triggers        RCDATA "MetadataSqls\\PostgreSql\\6. Triggers.sql"
PostgreSql_Procedures      RCDATA "MetadataSqls\\PostgreSql\\7. Procedures.sql"
PostgreSql_Constraints     RCDATA "MetadataSqls\\PostgreSql\\8. Constraints.sql"
PostgreSql_Sequences       RCDATA "MetadataSqls\\PostgreSql\\9. Sequences.sql"

Sqlite_Tables          RCDATA "MetadataSqls\\Sqlite\\1. Tables.sql"
Sqlite_Views           RCDATA "MetadataSqls\\Sqlite\\2. Views.sql"
Sqlite_TableFields     RCDATA "MetadataSqls\\Sqlite\\3. TableFields.sql"
Sqlite_ViewFields      RCDATA "MetadataSqls\\Sqlite\\4. ViewFields.sql"
Sqlite_Indexes         RCDATA "MetadataSqls\\Sqlite\\5. Indexes.sql"
Sqlite_Triggers        RCDATA "MetadataSqls\\Sqlite\\6. Triggers.sql"
Sqlite_Procedures      RCDATA "MetadataSqls\\Sqlite\\7. Procedures.sql"
Sqlite_Constraints     RCDATA "MetadataSqls\\Sqlite\\8. Constraints.sql"
Sqlite_Sequences       RCDATA "MetadataSqls\\Sqlite\\9. Sequences.sql"
